*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
html{
    height: 100vh;
}
body{
    background-image: url('../assets/img/background.svg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 0 100px 0 95px;
}
.header img{
    transition: 0.4s;
    cursor: pointer;
}
.header img:hover{
    transform: scale(1.2);
}
.header img:nth-child(1){
    height: 25px;
}
.header img:nth-child(2){
    height: 25px;
}
.main{
    height: 90%;
    display: flex;
}

/* main content */
.text-container{
    height: 100%;
    width: 50%;
}
.text-container .logoval{
    height: 50px;
    margin-left: 100px;
    margin-top: 150px;
}
/* card style by codelandia */
.text-container .cards{
    display: flex;
    gap: 30px;
    margin-top: 60px;
    margin-left: 100px;
}
.text-container .cards img {
    position: relative;
    clip-path: polygon(15% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 15%);
    background: #ff4656;
    border: 1.5px solid #fff;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card-border {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    left: -15px;
    top: -15px;
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
}
.card-border::after {
    content: "";
    position: absolute;
    background: #0F1923;
    width: 98.5%;
    height: 98.5%;
    left: 1px;
    top: 1px;
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
}
  
.img-container{
    width: 50%;
}
.img-container img{
    height: 100%;
    width: 100%;
    transition: 1s;
    cursor: pointer;
    transform: scale(1.05);
}
.img-container img:hover{
    transform: scale(1.1);
}
.mobile-share{
    display: none;
}
@media(max-width: 1160px){
    .img-container{
        display: none;
    }
}
@media(max-width:744px){
    .header{
        height: 90px;
    }
    .header img:nth-child(3){
        display: none;
    }
    .mobile-share{
        display: flex;
        
    }
    html{
        height: auto;
        padding-bottom: 20px;
    }
    .logoval{
        margin-left: 20px !important;
        margin-top: 50px !important;
    }
    .text-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        transform: translateX(-20%);
        margin-bottom: 20px;
    }
}